altgraph==0.17.4
Brotli==1.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
inflate64==1.0.1
multivolumefile==0.2.3
packaging==25.0
psutil==7.0.0
py7zr==0.22.0
pybcj==1.0.3
pycryptodomex==3.22.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pyppmd==1.1.1
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
pyzstd==0.16.2
requests==2.32.3
setuptools==78.1.1
shiboken6==6.9.0
texttable==1.7.0
urllib3==2.4.0
pywin32; platform_system=="Windows"
winshell; platform_system=="Windows"